.child-selected{
	background-color: #4DAAF7;
	color: white;
}

*{
	font-family: 'Comfortaa', sans-serif;
}

.a-moveToQuarter{
	animation: moveToQuarter .5s ease-in forwards;
}

.a-moveToFifty{
	animation: moveToFifty .5s ease-in forwards;
}

.a-moveToHundred{
	animation: moveToHundred .5s ease-in forwards;
}

.a-moveToZero{
	animation: moveToZero .5s ease-in forwards;
}

@keyframes moveToZero{
	from{width: initial;}
	to{width: 0%;}
}

@keyframes moveToQuarter{
	from{width: 0%;}
	to{width: 25%;}
}

@keyframes moveToFifty{
	from{width: 25%;}
	to{width: 50%;}
}

@keyframes moveToHundred{
	from{width: 50%;}
	to{width: 99%;}
}

.kidsss{
	transition: .2s all ease-in;
}

#status-icon1, #status-icon2, #status-icon3{
	transition: .2s all ease-in;
	border: 4px solid #bbb;
}

