<!DOCTYPE html>
<html>
<head>
	<title>Backend Prototype</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/screen.css">
	<link href="https://fonts.googleapis.com/css?family=Assistant|Comfortaa" rel="stylesheet">

</head>
<body>
	<noscript>We're sorry, you need JavaScript enabled to run this website.</noscript>
	<div id="root">
		
	</div>
	<script type="text/javascript" src="js/testBackend-bundle.js"></script>
</body>
</html>