<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/screen.css">
    <title>BusBuddy | Home</title>
</head>
<div id="root"></div>
<body>
    <div id="app"></div>
    <header class="l-home-header">
        <nav class="c-top-nav">
            <ul class="c-top-nav__submenu">
                <li>list1</li>
                <li>list2</li>
                <li>list3</li>
            </ul>
        </nav>

        <div class="c-title">
            <div class="c-graphic">
                <img src="https://via.placeholder.com/300x300" alt="">
            </div>
            <div class="c-content c-home-banner">
                <div class="c-home-banner__text">
                    <h1>Bus Buddy</h1>
                    <h3>Cool tagline, one kind of long sentence</h3>
                    <p>text summary of the product and how we will do it, maybe some stats and info about the current
                        state
                        of
                        the bus system.</p>
                </div>
            </div>
        </div>
    </header>
    <main class="l-home-main">
        <div class="c-content c-how-it-works">
            <h2>How It Works</h2>
            <img src="https://via.placeholder.com/500x300" alt="">
            <p>text summary of the product and how we will do it, maybe some stats and info about the current state of
                the bus system.
                Donec nec tellus at erat scelerisque dignissim id vitae nunc. Maecenas leo massa, aliquam vel ligula
                id, mattis blandit metus.</p>
        </div>
        <div class="c-content c-explanation">
            <div class="c-explanation__img">
                <img src="https://via.placeholder.com/500x300" alt="">
            </div>
            <div class="c-explanation__text">
                <h2>Boop I’m a header</h2>
                <p>
                    text summary of the product and how we will do it, maybe some stats and info about the
                    current
                    state of
                    the bus system.
                </p>
                <p>
                    Donec nec tellus at erat scelerisque dignissim id vitae nunc. Maecenas leo massa, aliquam
                    vel
                    ligula
                    id, mattis blandit metus. Curabitur gravida tellus eu elementum ultricies. Suspendisse diam
                    mauris,
                </p>
                <p>
                    ornare vitae arcu sed, fringilla volutpat justo.
                    Praesent mattis dolor arcu, sit amet consectetur nisi scelerisque sit amet. (300 chars max)</p>
            </div>
        </div>
        <div class="c-content c-selling">
            <h2>
                It’s super simple, heres why I think so
            </h2>
            <div class="c-selling__body">
                <div class="c-selling__map">
                    <img src="https://via.placeholder.com/100x100" alt="">
                    <h3>Point One</h3>
                    <ul>
                        <li>Bullet1</li>
                        <li>Bullet2</li>
                        <li>Bullet3</li>
                        <li>Bullet4</li>
                    </ul>
                    <p>some more text explaining</p>
                </div>
                <div class="c-selling__map">
                    <img src="https://via.placeholder.com/100x100" alt="">
                    <h3>Point Two</h3>
                    <ul>
                        <li>Bullet1</li>
                        <li>Bullet2</li>
                        <li>Bullet3</li>
                        <li>Bullet4</li>
                    </ul>
                    <p>some more text explaining</p>
                </div>
                <div class="c-selling__map">
                    <img src="https://via.placeholder.com/100x100" alt="">
                    <h3>Point Three</h3>
                    <ul>
                        <li>Bullet1</li>
                        <li>Bullet2</li>
                        <li>Bullet3</li>
                        <li>Bullet4</li>
                    </ul>
                    <p>some more text explaining</p>
                </div>
            </div>
        </div>
        <div class="c-content c-ui-map">
            <img src="https://via.placeholder.com/500x300" alt="">
        </div>
    </main>
    <footer class="l-home-footer">
        <img src="https://via.placeholder.com/1920x1080" alt="">
    </footer>

    <script type="text/javascript" src="js/home-bundle.js"></script>
</body>

</html>