<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Assistant|Comfortaa" rel="stylesheet">
    <link rel="stylesheet" href="css/screen.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>BusBuddy | Settings</title>

</head>
<div id="root"></div>
<body>

<script type="text/javascript" src="js/settings-bundle.js"></script>
</body>
</html>